@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-04 10:49:24
 * @version $Id$
 */
*{
  padding:0; 
  margin:0;
}
#heartbg{
  max-width:1520px;
  min-height:800px;
  /*background: red;*/
  margin:40px auto 0px auto;
  border:3px solid pink;
  border-radius: 28px; 
}
ul,li{
  list-style:none;
  }
  li:hover{
    transform:scale(3);
    transition:1.5s;
  }
body{
  font:12px/20px Arial; 
  /*background:#CCC;*/
}

#heartPic{
  max-width:930px;
  min-height:850px;
  position:relative;
  /*background: pink;*/
  margin:70 auto;
  border:3px solid red;
}
#ulwidth1,#ulwidth2,#ulwidth3,#ulwidth4,#ulwidth5,#ulwidth6{
  float:left;
  max-width:979px;
  max-height: 130px;
  /*border:3px solid blue;*/
  display:inline;
}
#liwidth1,#liwidth2,#liwidth3,#liwidth4,#liwidth5,#liwidth6,#liwidth7,#liwidth8,#liwidth9,#liwidth10,#liwidth11,#liwidth12,#liwidth13,#liwidth14,#liwidth15,#liwidth16,#liwidth17,#liwidth18,#liwidth19,#liwidth20,#liwidth21,#liwidth22,#liwidth23,#liwidth24,#liwidth25,#liwidth26,#liwidth27,#liwidth28,#liwidth29,#liwidth30,#liwidth31,#liwidth32,#liwidth33,#liwidth34,#liwidth35,#liwidth36,#liwidth37,#liwidth38,#liwidth39,#liwidth40,#liwidth41,#liwidth42{
  float:left;
  max-width:130px;
  max-height:130px;
  padding:2px;
  /*cursor:pointer;*/
  border-radius: 26px;
  border:3px solid red;
}
#liwidth1 img,#liwidth2 img,#liwidth3 img,#liwidth4 img,#liwidth5 img,#liwidth6 img,#liwidth7 img,#liwidth8 img,#liwidth9 img,#liwidth10 img,#liwidth11 img,#liwidth12 img,#liwidth13 img,#liwidth14 img,#liwidth15 img,#liwidth16 img,#liwidth17 img,#liwidth18 img,#liwidth19 img,#liwidth20 img,#liwidth21 img,#liwidth22 img,#liwidth23 img,#liwidth24 img,#liwidth25 img,#liwidth26 img,#liwidth27 img,#liwidth28 img,#liwidth29 img,#liwidth30 img,#liwidth31 img,#liwidth32 img,#liwidth33 img,#liwidth34 img,#liwidth35 img,#liwidth36 img,#liwidth37 img,#liwidth38 img,#liwidth39 img,#liwidth40 img,#liwidth41 img,#liwidth42 img{
 /* border:3px solid white;*/
  border-radius: 25px;
  width:auto;
  height:auto;
  max-height: 100%;
  max-width: 100%;
}
/*.heartpic ul li img:hover{
  box-shadow: 2px 5px solid gray;
}*/
.heartPic ul li .pTxt{
  display:none;
  max-width:100px;
  max-height:15px;
  text-align:center;
  color:#fff;
  overflow:hidden;
}
.heartPic .showDiv{
  display:block;
}
.in img{
  /*width:115px;
  height: 115px;*/
  /*width:120px;
 height:120px;*/
 /*width:auto;
  height:auto;
  max-height: 100%;
  max-width: 100%;*/
   /*border:3px solid white;*/
}
.out{
  width:auto;
  height:auto;
  max-height: 100%;
  max-width: 100%;
  border:0;
}
#construction{
  max-width:1520px;
  margin:0 auto;
  background: powderblue;
  /*background-repeat: no-repeat;*/
  padding-top:100px;
  background-attachment: fixed;
  /*background-repeat: no-repeat;*/
  min-height: 100%;
  background-position: center center; 
  border:3px solid pink;
  border-radius: 27px;
}
.atical{
  max-width:900px;
  min-height:1000px;
  margin:20 auto;
  background: white;
  border-radius: 25px;
  opacity: 0.7;
}
.aticalw{
  z-index: 999;
  font-size: 26px;
  line-height: 35px;
}
h3{
  text-align: center;
}