@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-04 10:49:24
 * @version $Id$
 */
*{
  padding:0; 
  margin:0;
}
#heartbg{
  max-width:1520px;
  min-height:800px;
  /*background: red;*/
  margin:40px auto 0px auto;
  border:3px solid pink;
  border-radius: 28px; 
}
/*ul,li{
  list-style:none;
  }
  li:hover{
    transform:scale(3);
    transition:1.5s;
  }*/
body{
  font:12px/20px Arial; 
  /*background:#CCC;*/
}

#heartPic{
  max-width:930px;
  min-height:850px;
  position:relative;
  /*background: pink;*/
  margin:70 auto;
/*  border:3px solid red;*/
}
/*ul{
  float:left;
  max-width:979px;
  max-height: 130px;
  border:3px solid blue;
  display:inline;
}*/
#in1,#in2,#in3,#in4,#in5,#in6,#in7,#in8,#in9,#in10,#in11,#in12,#in13,#in14,#in15,#in16,#in17,#in18,#in19,#in20,#in21,#in22,#in23,#in24,#in25,#in26,#in27,#out1,#out2,#out3,#out4,#out5,#out6,#out7,#out8,#out9,#out10,#out11,#out12,#out13,#out14,#out15{
  float:left;
  max-width:130px;
  max-height:130px;
  padding:2px;
  cursor:pointer;
  border-radius: 26px;
  /*border:3px solid transparent;*/
}
#in1 img,#in2 img,#in3 img,#in4 img,#in5 img,#in6 img,#in7 img,#in8 img,#in9 img,#in10 img,#in11 img,#in12 img,#in13 img,#in14 img,#in15 img,#in16 img,#in17 img,#in18 img,#in19 img,#in20 img,#in21 img,#in22 img,#in23 img,#in24 img,#in25 img,#in26 img,#in27 img{
  border:6px solid white;
  border-radius: 25px;
  width:auto;
  height:auto;
  max-height: 100%;
  max-width: 100%;
  float:left;
}
  #out1 img,#out2 img,#out3 img,#out4 img,#out5 img,#out6 img,#out7 img,#out8 img,#out9 img,#out10 img,#out11 img,#out12 img,#out13 img,#out14 img,#out15 img{
  border-radius: 25px;
  width:auto;
  height:auto;
  max-height: 100%;
  max-width: 100%;
  float:left;
  border:3px solid transparent;

}
img:hover{
  transform:scale(3);
  transition:1.5s;
  box-shadow: 3px 3px 0 0 pink;
}

/*img{
  width:125px;
  float:left;
}*/
/*.heartpic ul li img:hover{
  box-shadow: 2px 5px solid gray;
}*/
/*.heartPic ul li .pTxt{
  display:none;
  max-width:100px;
  max-height:15px;
  text-align:center;
  color:#fff;
  overflow:hidden;
}*/
.heartPic .showDiv{
  display:block;
}
/*.in img{
  /*width:115px;
  height: 115px;*/
  /*width:120px;
 height:120px;*/
/* width:auto;
  height:auto;
  max-height: 100%;
  max-width: 100%;*/
   /*border:3px solid white;*/
/*/*}*/
/*.out{
  width:auto;
  height:auto;
  max-height: 100%;
  max-width: 100%;
  border:0;
}*/
#construction{
  max-width:1520px;
  margin:0 auto;
  background: powderblue;
  /*background-repeat: no-repeat;*/
  padding-top:100px;
  background-attachment: fixed;
  /*background-repeat: no-repeat;*/
  min-height: 100%;
  background-position: center center; 
  border:3px solid pink;
  border-radius: 27px;
}
.atical{
  max-width:900px;
  min-height:1000px;
  margin:20 auto;
  background: white;
  border-radius: 25px;
  opacity: 0.7;
}
.aticalw{
  z-index: 999;
  font-size: 26px;
  line-height: 35px;
}
h3{
  text-align: center;
}